<!doctype html>
<html ng-app>
    <head>


    </head>
    <body class="login" ng-controller="PurchaseorderCtrl">
        <header class="login">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 headertop">
                        <div id="logo">
                            <a href="#">Billlive</a>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-default" style="margin-top:60px;margin-bottom: 0;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Sample</a> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse button-menu" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/Billlive">Home</a></li>

                        <li><a href="#/invoice">Invoice</a></li>
                        <li><a href="#/bill">Bills</a></li>
                        <li><a href="#/purchaseorder">Purchase Orders</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <div class="col-sm-6 col-md-6">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="q" style="height: 28px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" style="height: 28px;padding-top: 4px;" ><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <li class="dropdown">

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:5px;">
                           {{username}}
                        </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8" style="padding-right: 30px;padding-left: 30px;">
                                                <p class="text-left"><strong>Mahesh</strong></p>
                                                <p class="text-left small">justdemo@gmail.com</p>
                                                <p class="text-left" ng-click="logout()">
                                                    <a href="#" class="btn btn-primary btn-block btn-sm">Logout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12" style="padding-right: 30px;padding-left: 30px;">
                                                <p>
                                                    <a href="#" class="btn btn-primary btn-block">My Profile</a>
                                                    <a href="#" class="btn btn-danger btn-block">Change Password</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        

        <div class="dashboard">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-4">
                  <div class="whitebak" style="
    margin-top: 7%;
    overflow: scroll;
">
                     <h5>Tryout this</h5>
                     <div class="left_links">
                        <ul>
                           <li class="col-md-4"><a type="button" id="addData"  ng-click="addData('Item12','true',10,40,'Kg',4,1.2,'1234','January')">Item 1</a></li>
                           <li class="col-md-4"><a type="button" id="addData"  ng-click="addData('Item41','true',10,40,'Kg',4,1.2,'1234','January')">Item 2</a></li>
                           <li class="col-md-4"><a type="button" id="addData"  ng-click="addData('Item23','true',10,40,'Kg',4,1.2,'1234','January')">Item 3</a></li>
                           <li class="col-md-4"><a type="button" id="addData"  ng-click="addData('Item45','true',10,40,'Kg',4,1.2,'1234','January')">Item 4</a></li>
                           <li class="col-md-4"><a type="button" id="addData"  ng-click="addData('Item89','true',10,40,'Kg',4,1.2,'1234','January')">Item 5</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="whitebak">
<h5>Invoice</h5>
                                       <div id="grid" ui-grid="gridOptions"  ui-grid-edit ui-grid-exporter ui-grid-selection class="grid" ></div>
                      <button type="button" id="addData" class="btn btn-success" ng-click="addRow()">Add Data</button>
    <button type="button"  class="btn btn-success" ng-click="downloadCSV()">Download CSV</button>
        <button type="button"  class="btn btn-success" ng-click="downloadPDF()">Download PDF</button>
        <button type="button"  class="btn btn-success" ng-disabled="rows.length==0" ng-click="addBill(rows)">Convert to Bill</button>
        <button type="button" class="btn btn-success"  ng-click="printDiv('grid')">Print</button>


                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 footertext">A Product by GST Inc.<br/> Copyright © 2017 GST | All Rights Reserved</div>
                </div>
            </div>
        </footer>
    </body>
</html>
